@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-smoke text-slate font-sans antialiased;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes progress {
  from { width: 100%; }
  to { width: 0%; }
}

.animate-progress {
  animation: progress 3s linear forwards;
}
